
@{
    ViewBag.Title = "Shopping_Succsess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<body style="text-align:center">
    <h2>Shopping_Succsess</h2>
    <h4>Bill của bạn đã gửi tới shop thành công, bạn sẽ nhận đc hàng trong 2-3 ngày</h4>
    <a class="btn btn-success" href=" @Url.Action("Home","Home") ">Continue Shopping ....</a>
</body>


